# pliki
*.jpg
*.jpeg
*.gif
*.png
*.xml
*.csv
*json

# dziwne foldery
__pycache__/*
.idea/*
venv/*

# exceptions
!resources/default/DefaultImage.jpg
!resources/models/haarcascade_frontalface_default.xml

program/__pycache__/*
